* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background: #000;
}

.logo {
    position: absolute;
    top: 10rem;
    left: 14rem;
    height: 400px;
    width: 720px;
    border-bottom: 4rem solid transparent;
    border-top: 4rem solid transparent;
    border-right: 25rem solid #00adef;
}

.logo #verticalline {
    position: absolute;
    display: inline-block;
    border: 2px solid #000;
    left: 33rem;
    bottom: -35px;
    height: 125%;
}

.logo #horizontalline {
    position: absolute;
    display: inline-block;
    border: 2px solid #000;
    left: 100%;
    bottom: 9rem;
    width: 25rem;
}

@media all and (max-width:1300px) {
    .logo {
        margin-left: -10rem;
    }
}

@media all and (max-width:1000px) {
    .logo {
        margin-left: -20rem;
    }
}

@media all and (max-width:800px) {
    .logo {
        width: 25rem;
        left: 30rem;
    }

    .logo #verticalline {
        left: 12rem;
    }
}


@media all and (max-width: 600px){
    .logo{
        left: 0;
        width: 90%;
        margin-left: 0;
    }
    .logo #verticalline {
        left: 20rem;
    }
    
}